@import './base.css';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1230px;
}

header#header {
  flex: 0 0 auto;
  border-bottom: 1px solid black;
}
main#main {
  flex: 1 1 auto;
  padding: 1rem 0;
}
footer#footer {
  flex: 0 0 auto;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  padding: 3px 10px;
}
button:focus {
  outline-color: teal;
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
}
